{% ckan_extends %}
{% block main_class %}bg-blue{% endblock %}
{% block wrapper_class %}-custom{% endblock %}

{% block resource_inner %}
{% set datastore_action = "/dataset/" + pkg.name + "/resource_data/" + res.id %}
  {% if h.API_enabled(pkg) and h.aircan_status(res.id)['status'] in 'error' and h.check_access('package_update', {'id':pkg.id }) %}
    <div class="aircan-banner-message" data-module="aircan"  data-module-resource="{{res.id}}" data-module-action="{{datastore_action}}">
        <div class="alert alert-error">
            <span class="fa fa-exclamation-circle"></span>
            <strong>Error:</strong>&nbsp;Aircan Data ingestion has failed
            <span class="date" title="{{h.aircan_status(res.id)['last_updated']}}">
                {{h.time_ago_from_timestamp(h.aircan_status(res.id)['last_updated']) }}.
                <span>Please check <a href="{{datastore_action}}">datastore page</a> for more information.</span>
            </span>
        </div>
    </div>
    {% resource 'nhs/nhs_aircan_js' %}
    {% endif %}
    {{ super() }}
{% endblock %}

{% block resource_actions %}
    <ul class="resource_actions">
    {% block resource_actions_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
        <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
    {% endif %}
    {% if res.url and h.is_url(res.url) %}
        <li>
        <div class="btn-group">
        <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
            <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
        </a>
        {% block download_resource_button %}
            {% if res.zip_url %}
            <button class="btn btn-primary dropdown-toggle" style="height: 37.88px;" data-toggle="dropdown" aria-label="Download Formats">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
                    <i class="fa fa-file"></i>
                    {{ _('Download ' + '(' + res.format + ')') }} 
                </a>
                <a href="{{ res.zip_url }}" class="resource-url-analytics" target="_blank">
                    <i class="fa fa-file-archive-o"></i>
                    {{ _('Download (ZIP)') }}
                </a>
                </li>
            </ul>
            {% endif %}
        {% endblock %}
        </div>
        </li>
        {% if res.bq_table_name and res.format == 'CSV' and h.API_enabled(pkg) %}
        <li>
            {% set loading_text = _('Loading...') %}
            {% set example_field = h.get_random_resource_field(res_id=res.bq_table_name) %}
            {% set api_info_url = h.url_for(controller='api', action='snippet', ver=1, snippet_path='api_info.html', resource_id=res.bq_table_name, example_field_id=example_field.id, example_field_type=example_field.type) %}
            <a class="btn btn-primary"  href="{{ api_info_url }}" data-module="api-info" data-module-template="{{ api_info_url }}" data-loading-text="{{ loading_text }}"><i class="fa fa-flask fa-lg"></i> {{ _('Data API') }}</a>
        </li>
        {% endif %}
    {% endif %}
    {% endblock %}
    </ul>
{% endblock %}

{% block resource_content %}
    {% block resource_read_title %}<h2 class="page-heading-accebility">{{ res.title or res.name | truncate(50) }}</h2>{% endblock %}
    <div class="prose notes" property="rdfs:label">
    {% if res.description %}
        {{ h.render_markdown(res.description) }}
    {% endif %}
    </div>
     <a type="button" class="dataset-report-link" data-toggle="modal" data-target="#reportModal">
        <i class="fa fa-flag"></i> Report an issue
    </a>
{% endblock %}

{% block data_preview %}
    {% if h.API_enabled(pkg) %}
        {% block resource_view %}{{super()}}{% endblock %}
    {% endif %}
{% endblock %}

{% block primary_content %}
<div class="module-content">       
    <section class="additional-info">
        <div class="nhsuk-table-responsive">
        <h3>{{ _('Additional Info') }}</h3>
            <table class="nhsuk-table" data-module="table-toggle-more">
                <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                        <th scope="col" class="nhsuk-table__header">{{ _('Field') }}</th>
                        <th scope="col" class="nhsuk-table__header">{{ _('Value') }}</th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                {% block resource_additional_information %}
                    <tr class="nhsuk-table__row">
                        <th scope="row">{{ _('Data last updated') }}</th>
                        <td class="nhsuk-table__cell">{{ h.render_datetime(res.last_modified) or h.render_datetime(res.Created) or _('unknown') }}</td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <th scope="row">{{ _('Metadata last updated') }}</th>
                        <td class="nhsuk-table__cell">{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.last_modified) or h.render_datetime(res.Created) or _('unknown') }}</td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <th scope="row">{{ _('Created') }}</th>
                        <td class="nhsuk-table__cell">{{ h.render_datetime(res.Created) or _('unknown') }}</td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <th scope="row">{{ _('Format') }}</th>
                        <td class="nhsuk-table__cell">{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <th scope="row">{{ _('License') }}</th>
                        <td class="nhsuk-table__cell">{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
                    </tr>
                    
                {% endblock %}
                </tbody>
            </table>
        </div>
    </section>   
    {% block resource_data_dictionary %}
    {% if res.format == 'CSV' %}
    <section>
        <div class="nhsuk-table-responsive data-dictionary">
            <h2>{{ _('Data Dictionary') }}</h2>
            <table class="table table-striped table-bordered table-condensed nhsuk-table" data-module="table-toggle-more">
                <thead>
                    {% block resouce_data_dictionary_headers %}
                    <tr>
                        <th scope="col">{{ _('Column') }}</th>
                        <th scope="col">{{ _('Title') }}</th>
                        <th scope="col">{{ _('Type') }}</th>
                        <th scope="col">{{ _('Description') }}</th>
                    </tr>
                    {% endblock %}
                </thead>
                {% block resource_data_dictionary_data %}
                {% set dict=h.get_resource_data_dictionary(c.resource) %}
                {% for field in dict %}
                    {% snippet "package/snippets/dictionary_table.html", field=field %}
                {% endfor %}
                {% endblock %}
            </table>
        </div>
    </section>
    {% endif %}
    {% endblock %}
    {% block report_modal %}
        {% snippet "package/snippets/report_pop.html", pkg_id=pkg.id %}
    {% endblock %}
</div>
{% endblock %}

{% block secondary_content %}
    <div class="resource-sidebar">
      {% block resources_list %}
        {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
      {% endblock %}
        
      <div class="license">
        {% block resource_license %}
      {% endblock %}
      </div>
    </div>
{% endblock %}
