{% extends "user/edit_base.html" %}

{% set user = g.userobj %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('dashboard.index') }}">{{ _('Dashboard') }}</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
  <article class="module dashboard">
    {% block page_header %}
      <header class="module-content page-header hug">
        <div class="dashboard-tabs-container" data-module="dashboard-tabs-slider">
          <div class="dashboard-tabs">
            <ul class="nav nav-tabs">
              {{ h.build_nav_icon('activity.dashboard', _('News feed')) }}
              {{ h.build_nav_icon('nhs.management', _('Management')) if c.userobj.sysadmin }}
              {{ h.build_nav_icon('user.edit', _('Account'), id=user.name) if c.userobj.sysadmin }}
              {{ h.build_nav_icon('dashboard.datasets', _('My Datasets')) if c.userobj.sysadmin }}
              {{ h.build_nav_icon('dashboard.organizations', _('My Themes')) if c.userobj.sysadmin }}
              {{ h.build_nav_icon('nhs.followed_datasets',  _('Followed Datasets'), type='dataset') }}
              {{ h.build_nav_icon('nhs.followed_organizations',  _('Followed Themes'), type='organization') }}
            </ul>
          </div>
          <div class="nav-arrows">
            <span class="arrow left-arrow"><i class="fa fa-caret-left"></i></span>
            <span class="arrow right-arrow"><i class="fa fa-caret-right"></i></span>
          </div>   
        </div>
      </header>
    {% endblock %}
    <div class="module-content primary-module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}{% endblock %}
        </div>
      {% endif %}
      {% block primary_content_inner %}
          {% snippet 'user/snippets/news_feed.html',
  dashboard_activity_stream=dashboard_activity_stream,
  dashboard_activity_stream_context=dashboard_activity_stream_context,
  id=id,
  followee_list=followee_list,
  newer_activities_url=newer_activities_url,
  older_activities_url=older_activities_url %}
      {% endblock %}
    </div>
  </article>
{% endblock %}
