{% extends "page.html" %}
{% set dataset_type = h.default_package_type() %}
{% set organization = group_dict %}
{% set group_type = 'organization' %}

{% block subtitle %}
    {{ group_dict.display_name }} - {{ _('Themes') }}
{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Themes'), named_route='theme.index' %}</li> 
    <li class="active">{% link_for group_dict.display_name|truncate(35), id=group_dict.name, named_route='theme.read' %}</li>
{% endblock %}

{% block content_action %}
    {% if h.check_access('organization_update', {'id': group_dict.id}) %}
        {% link_for _('Manage'), 
            named_route='theme.edit', 
            id=group_dict.name, 
            class_='btn btn-default', 
            icon='wrench'
        %}
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('theme.read', _('Datasets'), id=group_dict.name) }}
    {{ h.build_nav_icon('theme.about', _('About'), id=group_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet 'organization/snippets/info.html', organization=group_dict, show_nums=true, group_type=group_type, am_following=am_following %}
  {% block organization_facets %}{% endblock %}
{% endblock %}

{% block links %}
    {{ super() }}
{#{% include "organization/snippets/feeds.html" %}#}
{% endblock %}
