{% block header_wrapper %} {% block header_account %}
{% if not c.userobj %}
    <div class="top-flash-message">
        <div class="nhsuk-width-container message">
            <strong class="nhsuk-tag">NEW</strong>
            <span class="nhsuk-u-font-size-24">You can now access exciting new features by logging in to the Open Data Portal, <a href="https://opendata.nhsbsa.net/news/new-release-exciting-new-user-features-on-the-open-data-portal" title="Find out about the new features" class="nhsuk-u-font-size-24">find out more.</a></span>
        </div>
    </div>
{% endif %}
<div class="account-masthead" role="navigation" aria-label="Admin Navigation">
    <div class="container">
        {% block header_account_container_content %} {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="list-unstyled">
                {% block header_account_logged %} {% if c.userobj.sysadmin %}
                <li>
                    <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                        <span class="text">{{ _('Admin') }}</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
                </li>
                {% set new_activities = h.new_activities() %}
                <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                    <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="text">{{ _('Dashboard') }}</span>
                        <span class="badge">{{ new_activities }}</span>
                    </a>
                </li>
                {% block header_account_settings_link %}
                <li>
                    <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="text">{{ _('Settings') }}</span>
                    </a>
                </li>
                {% endblock %} {% block header_account_log_out_link %}
                <li>
                    <a href="{{ h.url_for('/user/_logout') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="text">{{ _('Log out') }}</span>
                    </a>
                </li>
                {% endblock %} {% endblock %}
            </ul>
        </div>
        {% endif %} {% endblock %}
    </div>
</div>
{% endblock %}
<header class="navbar navbar-static-top masthead" aria-label="Main Navigation">
    {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %} {% endblock %}
    <div class="nhsuk-width-container">
        <div class="navbar-right">
            <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="Show/Hide Main Menu">
        <span class="fa fa-bars"></span>
      </button>
        </div>

        <div class="navbar-topgroup">
            <hgroup class="{{ g.header_class }} navbar-left">
                <div class="nhsuk-header__logo custom-header">
                    <a href="/" aria-label="NHS Open Data Portal Homepage">
                       <img src="/images/nhs-logo-new.png" alt="NHS Open Data Portal" class="nhsuk-logo">
                    </a>
                </div>

            </hgroup>

            <p class="clearfix" style="margin-bottom:10px;"></p>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation-toggle">
            {% block header_site_navigation %}
            <nav class="section navigation" role="navigation" aria-label="Main Menu">
                <ul class="nav nav-pills">
                    <li><a href="{{ h.url_for('home.index') }}#home-page" title="Go to Home">Home</a></li>
                    <li><a href={{h.url_for( 'search')}} title="Go to Data">Data</a></li>
                    <li><a href={{h.url_for( 'foi-responses')}} title="FOI DATA">FOI Responses</a></li>
                    <li><a href="/news" title="Go to News">News</a></li>
                    <li><a href="/pages/documentation" title="Go to Documentation">Documentation</a></li>
                    <li><a href="/about" title="Go to About">About</a></li>
                    <li><a href="/pages/contact" title="Go to Contact" class="visible-sm visible-xs">Get in touch</a></li>
                </ul>
                {% if not c.userobj  %}
                <ul class="nav nav-pills nav-right">
                    <li class="login">{% link_for _('Log in'), named_route='user.login' %}</li>
                </ul>
                {% endif %}
            </nav>
            {% endblock %}
        </div>
    </div>
</header>
{% endblock %}
