{% extends "base.html" %}

{%- block page -%}

  {% block skip %}
    <a href="#content" class="skip-content">{{ _('Skip to content') }}</a>
  {% endblock %}

  {# Header override #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# Main content block #}
  {%- block content %}

    {% block maintag %}
    <div role="main" class="{% block main_class %}{% endblock %}">

      <div id="content" class="nhsuk-width-container">

        {% block main_content %}

          {% block flash %}
          <div class="flash-messages">
            {% block flash_inner %}
                {% for message in h.get_flashed_messages() %}
                <div class="alert alert-{{ message.category }}">
                    {{ message.text | safe }}
                </div>
                {% endfor %}
            {% endblock %}
          </div>
          {% endblock %}

        {% endblock %}

      </div> {# /#content #}

      {% block toolbar %}
      <div class="toolbar">
        <div class="nhsuk-width-container">
          {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
              <ol class="breadcrumb">
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}{% endblock %}
              </ol>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}

      <div class="nhsuk-width-container page-container">
        <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">

          {% block pre_primary %}{% endblock %}

          {% block secondary %}
          <div class="secondary col-sm-3">
            {% block secondary_content %}{% endblock %}
          </div>
          {% endblock %}

          {% block primary %}
          <div class="primary col-sm-9 col-xs-12">

            {% block primary_content %}
            <article class="module">

              {% block page_header %}
              <header class="module-content page-header">
                {% if self.content_action() | trim %}
                <div class="content_action">
                  {% block content_action %}{% endblock %}
                </div>
                {% endif %}

                <ul class="nav nav-tabs">
                  {% block content_primary_nav %}{% endblock %}
                </ul>
              </header>
              {% endblock %}

              <div class="module-content">
                {% if self.page_primary_action() | trim %}
                <div class="page_primary_action">
                  {% block page_primary_action %}{% endblock %}
                </div>
                {% endif %}

                {% block primary_content_inner %}{% endblock %}
              </div>

            </article>
            {% endblock %}

          </div>
          {% endblock %}

        </div> {# /row wrapper #}
      </div> {# /page-container #}

    </div> {# /role="main" #}
    {% endblock %} {# maintag #}

  {% endblock %} {# content #}
  {% endblock %} 