<main>
    <div class="survey" id="survey">
        {% block survey%} {% snippet 'home/snippets/feedback.html' %} {% endblock %}
    </div>
    <div class="hero-wrapper">
        <div class="hero" id="content" role="search">
            {% block hero%} {% snippet 'home/snippets/hero.html' %} {% endblock %}
        </div>
    </div>
    

    <div class="themes">
        {%block themes %} {% snippet 'home/snippets/themes.html' %} {% endblock %}
    </div>
    <div class="latest-info">
        {%block latest_info %} {% snippet 'home/snippets/latest_info.html'%} {% endblock %}
    </div>
    <div class="newsletter hidden">
        {%block newsletter %} {% snippet 'home/snippets/newsletter.html'%} {% endblock %}
    </div>
</main>

<script>
    window.onscroll = function() {
        myFunction()
    };
    var header = document.getElementById("survey");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
