<a href="/pages/contact" class="contact-button hidden-xs hidden-sm">
        Get in touch
    </a>



<div class="nhsuk-width-container ">
    <div class="hero-content">
        <h1 class="nhsuk-u-margin-bottom-3">Welcome to the Open Data Portal</h1>
        <p>Our home of open data.
        </p>
        <ul class="nhsuk-list nhsuk-list--bullet" style="padding-left: 20px;">
            <li>
                All our data is free for use and re-use
            </li>
            <li>
                You can view, filter, and download data and meta data
            </li>
            <li>
                Built using open-source tools
            </li>
        </ul>

        <div class="">
            {% block search %} {% snippet 'home/snippets/search.html' %} {% endblock %}
        </div>
    </div>
</div>
