{% set placeholder = _('Search datasets') %}
<form class="module-content search-form" method="get" action="{% url_for dataset_type ~ 'dataset.search' %}"  role="search">
    <div class="input-group search-input-group nhsuk-u-width-three-quarters">
        <input class="search_input" aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" name="q" value="" autocomplete="on" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"
        />

        <span class="input-group-btn">
            <button class="search_submit" type="submit">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden nhsuk-text__search">Search</span>
        </button>
        </span>
    </div>
</form>

<ul class="search-tags">
      <li class="inline-tags" title="Search FOI">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="FOI" %}" title="FOI">#FOI</a>
      </li>
      <li class="inline-tags" title="Search Prescribing">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="Prescribing" %}" title="Prescribing">#Prescribing</a>
      </li>
      <li class="inline-tags" title="Search Dispencing">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="Dispencing" %}" title="Dispencing">#Dispencing</a>
      </li>
      <li class="inline-tags" title="Search Dental">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="Dental" %}" title="Dental">#Dental</a>
      </li>
      <li class="inline-tags" title="Search Commercial">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="Commercial" %}" title="Commercial">#Commercial</a>
      </li>
      <li class="inline-tags" title="Search Key Performance Indicators">
        <a class="popular-tag" href="{% url_for 'dataset.search', tags="Key Performance Indicators" %}" title="Key Performance Indicators">#Key Performance Indicators</a>
      </li>
</ul>
