{% set authorized = h.check_access('resource_show', {'id': res.id, 'resource': res }) %}
{% set url_action = 'edit' if url_is_edit and can_edit else 'read' %}
{% set url = h.url_for(pkg.type ~ '_resource.' + url_action, id=pkg.name, resource_id=res.id) %}

{% set loading_text = _('Loading...') %}
{% set api_info_url = h.url_for('api.snippet', ver=1, snippet_path='api_info.html', resource_id=res.bq_table_name) %}

{% set indentation = 'no-indentation' %}
{% if res.parent %}
  {% set indentation = 'left-indentation' %}
{% endif %}

{% if authorized %}
<li class="resource-item {{ indentation }}" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading" href="{{ url }}">
    {% if res.title or res.title == '' %}
      {{ res.title}}
    {% else %}
    {{ h.resource_display_name(res) }}
    {% endif %}
    {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=70) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}

  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      {% if h.API_enabled(pkg) %}
        <li>
          <a class="dropdown-item" href="{{ url }}">
            <i class="fa fa-bar-chart-o"></i>
            {{ _('Preview') }}
          </a>
        </li>
      {% endif %}
      <li>
        <a class="dropdown-item resource-url-analytics" href="{{ res.url }}" target="_blank">
            <i class="fa fa-file"></i>
            {{ _('Download') + '(' + res.format + ')' }}
        </a>
      </li>
      {% if res.zip_url %}
      <li>
        <a class="dropdown-item resource-url-analytics" href="{{ res.zip_url }}" target="_blank">
            <i class="fa fa-file-archive-o"></i>
            {{ _('Download(ZIP)') }}
        </a>
      </li>
      {% endif %}
      {% if res.bq_table_name and res.format == 'CSV' and h.API_enabled(pkg)  %}
      {% set example_field = h.get_random_resource_field(res_id=res.bq_table_name) %}
      {% set api_info_url = h.url_for('api.snippet', ver=1, snippet_path='api_info.html', resource_id=res.bq_table_name, example_field_id=example_field.id, example_field_type=example_field.type) %}
      <li>
        <a class="dropdown-item pointer"
          href="{{ api_info_url }}" 
          data-module="api-info" 
          data-module-template="{{ api_info_url }}" 
          data-loading-text="{{ loading_text }}">
          <i class="fa fa-flask fa-lg"></i> {{ _('Data API') }}</a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>

  {% endblock %}
</li>
{% endif %}

