{% ckan_extends %}

{% block resource_list %}
{% if resources %}
  <ul id="resource-list" data-module="resource-list-view" class="{% block resource_list_class %}resource-list{% endblock %}">
    {% block resource_list_inner %}
      {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
      {% for resource in resources | reverse %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
      {% endfor %}
    {% endblock %}
  </ul>
  <button id="showMoreBtn">Show All</button>
{% else %}
  {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
      {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
        <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
      {% endtrans %}
  {% else %}
      <p class="empty">{{ _('This dataset has no data') }}</p>
  {% endif %}
{% endif %}
{% endblock %}