{% set authorized = h.check_access('resource_show', {'id': res.id, 'resource': res }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{% set loading_text = _('Loading...') %}
{% set api_info_url = h.url_for(controller='api', action='snippet', ver=1, snippet_path='api_info.html', resource_id=res.bq_table_name) %}

{% set indentation = 'no-indentation' %}
{% if res.parent %}
  {% set indentation = 'left-indentation' %}
{% endif %}

{% if authorized %}
<li class="resource-item {{ indentation }}" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading">
    {{ res.title or res.name | truncate(50) }}
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}

  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
            <i class="fa fa-file"></i>
            {{ _('Download (CSV) ') }} 
        </a>
      </li>
      {% if res.zip_url %}
      <li>
        <a href="{{ res.zip_url }}" class="resource-url-analytics" target="_blank">
            <i class="fa fa-file-archive-o"></i>
            {{ _('Download (ZIP)') }}
        </a>
      </li>
      {% endif %}
      {% if res.bq_table_name %}
      <li>
         <a href="{{ api_info_url }}" data-module="api-info" data-module-template="{{ api_info_url }}" data-loading-text="{{ loading_text }}">
           <i class="fa fa-flask fa-lg"></i> {{ _('Data API') }}
         </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
 
  {% endblock %}
</li>
{% endif %}
