<p>Hi,</p>

{% if pkg_activities %} 
    {% set num = pkg_activities|length %}
    <p><b>
        {{ ungettext("{num} new dataset(s) added to {site_title}","{num} new dataset(s) added to {site_title}", num).format(site_title=g.site_title, num=num) }}
    </b></p>
    {% for pkg in pkg_activities %} 
    <ul>
        <li>
            {{ _('A new dataset: <b>{pkg_title}</b> has been uploaded. You can view the new dataset at ').format(pkg_title=pkg.data.package.title) }} 
            {{ g.site_url + '/dataset/' + pkg.data.package.name }}
        </li>
    </ul>
    {% endfor %}
{% endif %}
{% if resource_activities %}
    {% set num = resource_activities|length %}
    <p><b>
        {{ ungettext("{num} new resource(s) added to {site_title}","{num} new resource(s) added to {site_title}", num).format(site_title=g.site_title, num=num) }}
    </b></p>
    {% for rsc in resource_activities %}
    <ul>
        <li>
            {{ _('A new resource: <b>{resource}</b> has been uploaded to the dataset: <b>{package_name}</b>. You can view the new resource at url: ').format(resource=rsc.data.resource.name, package_name=rsc.data.resource.pkg_name ) }} 
            {{ g.site_url + '/dataset/' + rsc.data.resource.pkg_name + '/resource/' + rsc.data.resource.id }}
        </li>
    </ul>
    {% endfor %}
{% endif %}

<p>{{ _('To view your dashboard, click on this link: ') }}{{ g.site_url + '/dashboard' }}</p>

<p>{{ _('You can turn off these email notifications in your NHSBSA Open Data Portal account preferences. <br>To change your preferences, click on this link: ').format(site_title=g.site_title) }}{{ g.site_url + '/user/edit' }}</p>
<b>You can contact the Open Data team at the NHSBSA by emailing DataServicesSupport@nhsbsa.nhs.uk</b>
<p>
    Kind regards,<br>
    NHSBSA Open Data Portal team
</p>
