{% import 'macros/form.html' as form %}

{%- set options=[] -%}
{%- if field.get('form_include_blank_choice', false) -%}
    {%- do options.append({
        'value': '',
        'text': ''}) -%}
{%- endif -%}

{%- set resources = h.get_resources_list(pkg_name, False) -%}
{%- for resource in resources -%}
  {%- if resource.id != data.id -%}
    {%- do options.append({
        'value': resource.id,
        'text': resource.name or resource.id}) -%}
  {%- endif -%}
{%- endfor -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, field.get('default', 'notspecified')),
    error=errors[field.field_name],
    classes=['control-medium'],
    attrs=field.form_attrs if 'form_attrs' in field else {
      "data-module": "autocomplete"
    },
    is_required=h.scheming_field_required(field),
    )
%}
    {{ form.info(field.help_text) }}
{% endcall %}
