.bg-white {
	background-color:#fff !important;
}
[role=main], .main {
	background:none;
}

p.clearfix {
	margin:0;
}

body, p, a, li,label {
	font-size:17px;
}

a {
	text-decoration:underline !important;
}

p {
	margin-bottom:0;
}

.nhsuk-list--bullet, ul {
	padding-left: 0;
}

/* Navbar */
.account-masthead {
	min-height:0;
}

.masthead {
	padding-bottom:0;
}

.navbar-topgroup {
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.account-masthead {
	background: #004d96;

	ul {
		li {
			margin-bottom:0 !important;
			border-left: 1px solid #002e5a;

			a {
				padding:14px 15px;
			}
		}
	}
}

.navigation {
	ul {
		li {
			a {
				margin-right: 55px !important;
				text-decoration:none !important; 
				padding: 13px 15px;
			}
		}
	}
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
	background-color: $secondaryColor;
	border-radius:0;
	text-decoration:underline;
}

.nhsuk-list>li, ol>li, ul>li {
	padding-bottom:0;
	margin-bottom:0;
}

.header-image.navbar-left {
	float:left !important;
}

.masthead .navbar-collapse {
	float:none;
	padding:0;
}

.nav-infotext {
	float:right;
	margin:20px 0 10px 0;

	p {
		margin-bottom: 12px;
	}
}

.masthead {
    background: $primaryColor !important;
    background-image:none;
}

.logo img {
	width:200px;
	margin-top:10px;
}

.footer{
	background-color: $lightBgColor;
	border-top: 3px solid $primaryColor;
	padding: 40px 15px;
	margin-top: 110px;

	ul {
		list-style: none;
		color: $linkColor;

		li {
			a {
				font-size:16px;
				color:$linkColor;
				text-decoration: underline;
			}

			padding-bottom:10px;
		}
	}

	@media only screen and (max-width: 767px) {
		padding: 30px 15px;
	}

	p{
		color: $linkColor;
		font-size: 16px;
		margin-bottom: 10px;

		a{
			color: $linkColor;
			text-decoration: underline;
			font-size:18px;
		}
	}

	.text-right{
		@media only screen and (max-width: 767px) {
			text-align: center !important;
		}
	}


	.select2-container .select2-choice > .select2-chosen {
		float:left;
	}

	.select2-container .select2-choice {
		height: 36px;
		padding: 4px 0 4px 12px;
		border-radius: 0;
		border: 1.5px solid #707070;
		background:#fff !important
	}

	.select2-container .select2-choice .select2-arrow {
		background:#fff !important;
		border-left:0; 

		b {
			padding-top:2px;
			padding-right:4px;
		}
	}
	
}