
[role=main], .main {
	background:none;
}

p.clearfix {
	margin:0;
}

body, p, a, li {
	font-size:17px;
}

a {
	text-decoration:underline !important;
}

p {
	margin-bottom:0;
}

/* Navbar */
.account-masthead {
	min-height:0;
}

.masthead {
	padding-bottom:0;
}

.navbar-topgroup {
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.account-masthead {
	background: #004d96;

	ul {
		li {
			margin-bottom:0 !important;
			border-left: 1px solid #002e5a;

			a {
				padding:14px 15px;
			}
		}
	}
}

.navigation {
	ul {
		li {
			a {
				margin-right: 55px !important;
				text-decoration:none;
				padding: 13px 15px;
			}
		}
	}
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
	background-color: $secondaryColor;
	border-radius:0;
	text-decoration:underline;
}

.nhsuk-list>li, ol>li, ul>li {
	padding-bottom:0;
	margin-bottom:0;
}

.header-image.navbar-left {
	float:left !important;
}

.masthead .navbar-collapse {
	float:none;
	padding:0;
}

.nav-infotext {
	float:right;
	margin:22px 0 10px 0;

	p {
		margin-bottom: 12px;
	}
}

.masthead {
    background: $primaryColor !important;
    background-image:none;
}

.logo img {
	width:200px;
	margin-top:10px;
}

.footer{
	background-color: $lightBgColor;
	border-top: 3px solid $primaryColor;
	padding: 40px 15px;
	margin-top: 100px;

	ul {
		list-style: none;
		color: $linkColor;

		li {
			a {
				font-size:16px;
				color:$linkColor;
				text-decoration: underline;
			}

			padding-bottom:5px;
		}
	}

	@media only screen and (max-width: 767px) {
		padding: 30px 15px;
	}

	p{
		color: $linkColor;
		font-size: 14px;
		margin-bottom: 0.7rem;

		a{
			color: $linkColor;
			text-decoration: underline;
		}
	}

	.text-right{
		@media only screen and (max-width: 767px) {
			text-align: center !important;
		}
	}
}