@media screen and (max-width:768px){


    .searchbar{
        .search-form {
            width:100%;
        }
    }


    .single-list {
        padding:10px 5px 15px 5px;

        a {
            font-size: 20px;
        }

        p {
            font-size:16px;
        }

    }

    .m-b-60 {
        margin-bottom:20px;
    }

    #new-datasets{ 
        margin-top:60px;
    }

    .custom-arrow {
        width: 35px !important;
        height: 35px !important;
    }

    .nhsuk-action-link__text {
        position: relative;
        top: 2px;
        margin-left: 18px;
        font-size: 22px;
    }

    footer  {
        p {
            text-align: left;
        }
        ul {
            padding-left:0;
            margin-left:0;
            margin-bottom:0;
            padding-bottom:0;
        }
    }

}