@media screen and (max-width:768px){


    .searchbar{
        .search-form {
            width:100%;
        }
    }


    .single-list {
        padding:10px 5px 15px 5px;

        a {
            font-size: 20px;
        }

        p {
            font-size:16px;
        }

    }

    .m-b-60 {
        margin-bottom:20px;
    }

    #new-datasets{ 
        margin-top:60px;
    }

    .custom-arrow {
        width: 35px !important;
        height: 35px !important;
    }

    .nhsuk-action-link__text {
        position: relative;
        top: 2px;
        margin-left: 18px;
        font-size: 22px;
    }

    footer  {
        p {
            text-align: left;
        }
        ul {
            padding-left:0;
            margin-left:0;
            margin-bottom:0;
            padding-bottom:0;
        }
    }

    .media-grid .media-item {
        width:100% !important;
    }

    .toolbar {
        margin-bottom:0;
        padding-bottom:0;
    }

    .secondary {
        border:0;
        margin-bottom:30px;
    }

    [role=main], .main {
        
        p, a, li, label {
            font-size:15px;
        }
    }

    .form-control {
        height:42px;
    }

    .search-form h2 {
        font-size:1.3em;
    }

    .dataset-item .dated{ 
        font-size:16px;
    }

    .dataset-item h3 a {
        font-size:20px;
    }

    .dataset-item .dataset-resources li a {
        font-size:14px;
    }

    .small .nhsuk-action-link__text {
        position: relative;
        top: 3px;
        margin-left: 4px;
        font-size: 16px;
    }

    .wrapper-custom {
        margin-top:20px;
    }

    .secondary .module-heading {
        font-size:17px;
    }

    .secondary .nav-item a {
        font-size:15px;
    }

    .module h1 {
        font-size:20px;
    }

    #dataset-resources h3,.additional-info h3 {
        font-size:17px;
    }

    .resource-item .heading {
        font-size:16px;
    }

    .nhsuk-table thead tr th, .nhsuk-table tbody tr td,.nhsuk-table tbody tr th {
        font-size:16px;
    }
}