// Colors
$whiteColor: #fff;
$primaryColor: #005eb8;
$primaryDarkerColor: #004d96;
$blueishGray: #f2f2f2;
$greenColor: #007f3b;
$darkGreen: #00401e;
$darkShadeBlueColor: #384853;

// Font Size
$fontSmall: 14px;
$fontMedium: 16px;
$fontXMedium: 17px;
$fontLarge: 19px;
$fontXLarge: 20px;
$fontXXLarge: 22px;
$fontXXXLarge: 24px;
