{#
Displays information about accessing a resource via the API.

resource_id - The resource id
example_field_type - The type of a field of the resource
example_field_id - The field of the resource
embedded - If true will not include the "modal" classes on the snippet.

Example

    {% snippet 'ajax_snippets/api_info.html', resource_id=resource_id, embedded=true %}

#}

{% set sql_example_url = h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search_sql', qualified=True) + '?resource_id='+resource_id + '&sql=SELECT * from ' +'`'+ resource_id +'`'+ ' limit 5' %}
{# not urlencoding the sql because its clearer #}
<div{% if not embedded %} class="modal fade"{% endif %}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3>
            {{ _('CKAN Data API') }}
          </h3>
        </div>
        <div{% if not embedded %} class="modal-body"{% endif %}>
          <p><strong>{{ _('Access resource data via a web API with powerful query support') }}</strong>.
          {% trans %}
          Further information on using this API is available <a href="/pages/api">here</a>.</p>
          {% endtrans %}
          <div class="panel-group" id="accordion2">
          <div class="panel panel-default">
            <div class="panel-heading">

              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-endpoints">{{ _('Endpoints') }} &raquo;</a>
            </div>
            <div id="collapse-endpoints" class="in panel-collapse collapse">
              <div class="panel-body">
                <p>{{ _('The Data API can be accessed via the following actions of the CKAN action API.') }}. 
                {% trans %}
                You can get more info in the <a href="https://docs.ckan.org/en/2.8/api/">CKAN API guide</a>.</p>
                {% endtrans %}
                </p>
                <table class="table-condensed table-striped table-bordered">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{ _('Query') }}</th>
                      <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', qualified=True) }}</code></td>
                    </tr>
                    <tr>
                      <th scope="row">{{ _('Query (via SQL)') }}</th>
                      <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search_sql', qualified=True) }}</code></td>
                    </tr>
                    <tr>
                      <th scope="row">{{ _('List datasets') }}</th>
                      <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='package_list', qualified=True) }}</code></td>
                    </tr>
                    <tr>
                      <th scope="row">{{ _('Get dataset') }}</th>
                      <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='package_show', qualified=True) }}<b>?id=dataset_name_or_id</code></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-querying">{{ _('Querying') }} &raquo;</a>
            </div>
            <div id="collapse-querying" class="collapse panel-collapse in">
              <div class="panel-body">
                <table class="table-condensed table-striped table-bordered">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td><strong>{{ _('Query example (first 5 results)') }}</strong></td>
                      <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, limit=5, qualified=True) }}</code></td>
                    </tr>

                    <tr>
                      {% if example_field_type == 'INTEGER' or example_field_type == 'FLOAT' %}
                        <td><strong>{{ _('Query example (results with the \'{{example_field_id}}\' field that contains 40)') }}</strong></td>
                        <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, q='{"' + example_field_id + '":"40:*"}', qualified=True) }}</code></td>
                      {% elif example_field_type == 'BOOLEAN'%}
                        <td><strong>{{ _('Query example (results with the '{{example_field_id}}' field as true)') }}</strong></td>
                        <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, q='{"' + example_field_id + '":"true"}', qualified=True) }}</code></td>
                      {% else %}
                        <td><strong>{{ _('Query example (results with the '{{example_field_id}}' field containing the letter \"a\")') }}</strong></td>
                        <td><code>{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, q='{"' + example_field_id + '":"a"}', qualified=True) }}</code></td>
                      {% endif %}
                    </tr>

                    <tr>
                      <td><strong>{{ _('Query example (via SQL statement)') }}</strong></td>
                      <td><code>{{sql_example_url}}</code></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-javascript">{{ _('Example: Javascript') }} &raquo;</a>
            </div>
            <div id="collapse-javascript" class="panel-collapse collapse">
              <div class="panel-body">
                <p>{{ _('A simple ajax (JSONP) request to the data API using jQuery.') }}</p>
                <pre>
        var data = {
          resource_id: '{{resource_id}}', // the resource id
          limit: 5, // get 5 results
        {% if example_field_type == 'INTEGER' or example_field_type == 'FLOAT' %}
          q: '{"{{ example_field_id }}":"40:*"}' // query for '{{ example_field_id }} contains 40'
        {% elif example_field_type == 'BOOLEAN'%}
          q: '{"{{ example_field_id }}":"true"}' // query for '{{ example_field_id }} is true'
        {% else %}
          q: '{"{{ example_field_id }}":"a"}' // query for '{{ example_field_id }} contains the letter "a"'
        {% endif %}
        };
        $.ajax({
          url: '{{ h.url_for(controller='api', action='action', ver=3, logic_function='datastore_search', qualified=True) }}',
          data: data,
          dataType: 'jsonp',
          success: function(data) {
            alert('Total results found: ' + data.result.total)
          }
        });</pre>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-python">{{ _('Example: Python') }} &raquo;</a>
            </div>
            <div id="collapse-python" class="panel-collapse collapse">
              <div class="panel-body">
                <pre>
      import urllib
    {% if example_field_type == 'INTEGER' or example_field_type == 'FLOAT' %}
      url = '{{ h.url_for(qualified=True, controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, limit=5) + '&q={"' + example_field_id + '":"40:*"}' }}'
    {% elif example_field_type == 'BOOLEAN'%}
      url = '{{ h.url_for(qualified=True, controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, limit=5) + '&q={"' + example_field_id + '":"true"}' }}'
    {% else %}
      url = '{{ h.url_for(qualified=True, controller='api', action='action', ver=3, logic_function='datastore_search', resource_id=resource_id, limit=5) + '&q={"' + example_field_id + '":"a"}' }}'
    {% endif %}
      fileobj = urllib.urlopen(url)
      print(fileobj.read())
      </pre>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
  