<section class="additional-info">
    <h3>{{ _('Additional Info') }}</h3>
    <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">{{ _('Field') }}</th>
            <th class="nhsuk-table__header" scope="col">{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            {% block package_additional_info %}

            <tr class="nhsuk-table__row">
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if pkg_dict.url and h.is_url(pkg_dict.url) %}
                <td class="nhsuk-table__cell" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
                <td class="nhsuk-table__cell" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
            </tr>
    
            {% if pkg_dict.author_email %}
                <tr class="nhsuk-table__row">
                <th scope="row" class="dataset-label">{{ _("Contact") }}</th>
                <td class="nhsuk-table__cell" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
                </tr>
            {% else %}
                <tr class="nhsuk-table__row">
                <th scope="row" class="dataset-label">{{ _("Contact") }}</th>
                <td class="nhsuk-table__cell" property="dc:creator">{{ pkg_dict.author }}</td>
                </tr>
            {% endif %}

            <tr class="nhsuk-table__row">
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="nhsuk-table__cell">{{ pkg_dict.version }}</td>
            </tr>
    
            <tr class="nhsuk-table__row">
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="nhsuk-table__cell">{{ _(pkg_dict.state) }}</td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="nhsuk-table__cell">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
            </td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>
            <td class="nhsuk-table__cell">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
            </td>
            </tr>
    
            {% block extras scoped %}
            {% for extra in h.sorted_extras(pkg_dict.extras) %}
                {% set key, value = extra %}
                {% if key != 'tableschema' %}
                <tr class="nhsuk-table__row" rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="nhsuk-table__cell" property="rdf:value">{{ value }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endblock %}
    
            {% endblock %}
        </tbody>
        </table>
    </div>
  </section>
